/*/Release/src/*.o
/*/Release/src/*.d

/*/DFGFiles/edgefile
/*/DFGFiles/nodefile


/REGIMap/Release/REGIMap
/FalconIMS/Release/FalconIMS
/RAMP/Release/RAMP
/FalconCrimson/Release/FalconCrimson
/SimulatedAnnealing/Release/SimulatedAnnealing
/GraphMinor/Release/GraphMinor

/FalconCrimson/Release/FalconCrimson_debug.txt
/FalconIMS/Release/debugfile
/RAMP/Release/debugfile/REGIMap/Release/debugfile
/RAMP/Release/debugfile
/FalconCrimson/Release/debugfile
/SimulatedAnnealing/Release/debugfile
/GraphMinor/Release/debugfile
/REGIMap/Release/debugfile
